html, body {
	width: 100%;
	height: 100%;
  margin: 0;
	padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #fff;
  background-color: #000;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
}

.container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.header {
  margin-bottom: 40px;
}

.content {
  flex: 1;
  text-align: center;
  padding: 40px;
  max-width: 500px;
}

h1 {
  margin: 0;
}

.button {
  font-size: 24px;
  border-radius: 2px;
  background-color: #000;
  border: 1px solid #fff;
  color: inherit;
  padding: 20px 30px;
  cursor: pointer;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  &:focus {
    outline: none;
  }
  &:active {
    background-color: #fff;
    color: #000;
  }
}

.slider-group {
  margin-bottom: 60px;
  .label {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .noUi-horizontal {
    height: 1px;
    border: none;
  }
  .noUi-target {
    background-color: #fff;
    box-shadow: none;
    margin: 0 17px;
  }
  .noUi-connect {
    background: red;
  }
  .noUi-horizontal {
    .noUi-handle {
      border-radius: 2px;
      height: 34px;
      width: 34px;
      top: -16px;
      background: black;
      box-shadow: none;
      border: none;
      border: 1px solid white;
      cursor: pointer;
      &::before, &::after {
        content: none;
      }
    }
  }
}

.heartrate {
  font-size: 69px;
}
@keyframes heartbeat {
  0% { transform: scale(1); }
  50% { transform: scale(.9); }
  100% { transform: scale(1); }
}
.heartrate-beat {
  animation: heartbeat .3s infinite;
}
.heartrate-alert {
  color: red;
}
