html, body {
	width: 100%;
	height: 100%;
  margin: 0;
	padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #fff;
  background-color: #000;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
}

.container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.header {
  margin-bottom: 40px;
}

.content {
  flex: 1;
  text-align: center;
  padding: 40px;
  max-width: 500px;
}

h1 {
  margin: 0;
}

.button {
  font-size: 24px;
  border-radius: 2px;
  background-color: #000;
  border: 1px solid #fff;
  color: inherit;
  padding: 20px 30px;
  cursor: pointer;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  &:focus {
    outline: none;
  }
  &:active {
    background-color: #fff;
    color: #000;
  }
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  .button {
    flex-basis: 33.33%;
  }
  .label {
    flex-basis: 33.33%;
    font-size: 24px;
  }
}

.heartrate {
  font-size: 69px;
}
@keyframes heartbeat {
  0% { transform: scale(1); }
  50% { transform: scale(.9); }
  100% { transform: scale(1); }
}
.heartrate-beat {
  animation: heartbeat .3s infinite;
}
.heartrate-high {
  color: red;
}
